// ==========================================================================
// ? Colors
// Ex.: color: $white;
// * If you want to use more colors tonality, use $blue-100, $blue-200, etc.:
// ==========================================================================
$white: #fff;
$black: #000;
$transparent: transparent;
$grey-100: #817d92;
$grey-200: #24232c;
$grey-300: #18171f;
$almost-white: #e6e5ea;
$neon-green: #a4ffaf;
$red: #f64a4a;
$orange: #fb7c58;
$yellow: #f8cd65;
