@mixin heading-l {
  font-size: clamp($text-xl, 2.5vw, $text-4xl);
  font-weight: $font-bold;
  line-height: 2.6875rem;
}
@mixin heading-m {
  font-size: clamp($text-lg, 2.5vw, $text-2xl);
  font-weight: $font-bold;
  line-height: 1.9375rem;
}
@mixin body {
  font-size: clamp($text-sm, 2.5vw, $text-lg);
  font-weight: $font-bold;
  line-height: 1.4375rem;
}
